{% load static %}
<!DOCTYPE html>
<html lang="en">

   
<head>
    <meta charset="UTF-8">
    <meta name="viewpot"  content="width=device width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css/' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <title>Storytellerapp</title>
</head>

<header>
       <a href="#logo"> 
        <img src="{% static 'images/eee.png' %}" style="height:100px ; width:100px;">
        </a>
    <div class ="navbar">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text"  placeholder="what are you looking for...">
</div>
 
</header>

<body>
    
    <h1 class="hello">
        
        <img src="{% static 'images/myve.png' %}" style="height:300px ; width: 100%;">
        <div class="centered">Hello Visual Narrator,
            Ready to contribute to today's growing communication noise?</div>
    </h1>
    <h1 class="we">
        WHAT IS VISUAL STORYTELLING?
    </h1>

    <div class="visual">
        <img src="{% static 'images/cudu.png' %}" style="height:300px ; width: 40%;">
      <div class="visual-text">
        <p>
            
            The use of visual elements to convey a story or message. It is the art and science of creating, editing, and sequencing photographs, videos, graphics, and artwork together to narrate a story.
            
            Visual storytelling is not something new. It’s been around in various forms for hundreds of years, but it has become increasingly important with the rise of social media, SEO marketing and video marketing.
            
            People remember stories more than just simple facts or figures. The right story can be a very compelling tool and leave a lasting impression on your audience.
            We all know that visual storytelling is a great way to engage your audience, but how do you do it?

The problem with most marketers today is that they focus on the “what” instead of the “why”. They want to tell you about their product or service, not why you should care. When people are looking for something new and exciting in their lives, they need more than just a product description. They need an emotional connection.

                    </p>
      </div>
</div>
<p class="story">Visual storytelling has many benefits. It’s more engaging than plain text because it uses an additional layer of sensory information, which increases the likelihood it will be processed by the brain’s deeper levels. 

    It also has many additional benefits including the fact that it’s a great way to illustrate things that have never been seen before or to give people who have no prior understanding of a topic a great way to engage with the topic more easily. 
    
    This accessibility is what makes visual storytelling so powerful. Couple this with the fact that it can create empathy between viewers and those in the story, then you’ve got a very powerful tool in your hands.
    
    Keep these points in mind when you’re telling your story, and you’ll increase the chances of forming a meaningful, emotional connection with your audience.
    
    </p>

    <h1 class="top">
        Top picks for you
    </h1>

    <section class="flex container">
        <video width="320" height="240" controls>
            <source src="../Static/videos/BELIEF - A Short Narrative Video.mp4" type="video/mp4">></video>
            <video width="320" height="240" controls>
                <source src="../Static/videos/BELIEF - A Short Narrative Video.mp4" type="video/mp4">></video>
                <video width="320" height="240" controls>
                    <source src="../Static/videos/BELIEF - A Short Narrative Video.mp4" type="video/mp4">></video>
                    <video width="320" height="240" controls>
                        <source src="../Static/videos/BELIEF - A Short Narrative Video.mp4" type="video/mp4">></video>
            

    </section>
    <div class="monday">
    <p>
       
        The content on Hello Monday’s website serves to highlight their creativity, which is reflected in the various digital experiences it provides.

The design is both inventive and unique, combining animation and visual effects on pixel-rich graphics – overall, the site immerses the user into a highly engaging experience. 

It’s unusual in that it makes full use of fonts, simple user navigation, and several unique usability features.

    </p>
    <p>
        The content on Hello Monday’s website serves to highlight their creativity, which is reflected in the various digital experiences it provides.

The design is both inventive and unique, combining animation and visual effects on pixel-rich graphics – overall, the site immerses the user into a highly engaging experience. 

It’s unusual in that it makes full use of fonts, simple user navigation, and several unique usability features.

    </p>
    <p>
        The content on Hello Monday’s website serves to highlight their creativity, which is reflected in the various digital experiences it provides.

The design is both inventive and unique, combining animation and visual effects on pixel-rich graphics – overall, the site immerses the user into a highly engaging experience. 

It’s unusual in that it makes full use of fonts, simple user navigation, and several unique usability features.

    </p>
    <p>
        The content on Hello Monday’s website serves to highlight their creativity, which is reflected in the various digital experiences it provides.

The design is both inventive and unique, combining animation and visual effects on pixel-rich graphics – overall, the site immerses the user into a highly engaging experience. 

It’s unusual in that it makes full use of fonts, simple user navigation, and several unique usability features.


    </p>
</div>
    

</body.>

<footer>
    <div class="privacy">
    <div class="footer">
<ul>
        
        <div class="premium">
        Buying from DigoVs
        <li><a href="#Fresh picks"> Fresh picks </a></li>
        <li><a href="#Premium stock videos">Premium stock videos</a></li>
        <li><a href="#browse by category">Browse by category</a></li>
    </div>

    </ul>

<ul>   
      
      <div class="fresh"> 
        Selling with DigoVs 
      <li><a href="#Become a contributor"> Become a contributor</a></li>
      <li><a href="#Contributor contract">Contibutor contract</a></li>
    </div>
    </ul>


<ul>
    <div class="blog">
      Company
        <li><a href="#Blog"> Blog</a></li>
        <li><a href="#About us">About Us</a></li> 
    </div>
    </ul>
<ul>
    <div class="touch">
        Get in touch
        <li><a href="09093361143"> 09093361143</a></li>
       <li><a href="#www.DigoVs.com">www.DigoVs.com</a></li>
    </div>
    </ul>       


</div>



<small>
    <a href="#About" class="terms"> Privacy policy</a>
    <a href="#About" class="terms">Terms of Service</a>

<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
</small>



</div>
</footer>



</html